
.myContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.display{
    text-align: center;
    font-size: 5rem;
    font-family: monospace;
}
.controls{
    display: flex;
    gap: 0 20px;
}
.controls button{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s ease;
}
.controls  :nth-child(1){
    background-color: blueviolet;
}
.controls :nth-child(2){
    background-color: green;
}
.controls :nth-child(3){
    background-color: red;
}
.controls button:hover{
    opacity: 0.5;
}