 
.myDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 20px;
}
.myDiv input{
    font-size: 25px;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
}
.myDiv button{
    font-size: 2rem;
    color: #fff;
    background-color: blueviolet;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
}
.myDiv button:hover{
    background-color: blue;
    padding: 25px;
}
